.nav-link{
  color: #000000;
}

/* Button styles */
.sign-up{
    background: rgb(2,0,36);
background: linear-gradient(45deg, #083F9B 0%, #7F56D9 100%);
}

.logo{
    color: #2AAA94;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 700;
}


.hero-sec{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #083F9B 0%, #7F56D9 100%);
}




@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }



    
